code {
    white-space: pre-wrap;
}

.problem-container {
    width: 64em;
    max-width: 100%;
}

details {
    border-left: 0.125em solid #8888;
}

.run-container {
    margin: 0.5em;
    background: #8881;
}

.run-container-inner {
    padding: 1em;
}

.run-container>summary {
    cursor: pointer;
    padding: 0.75em;
    background: #8881;
}

.inner-details {
    margin-top: 0.5em;
    background: #8881;
    padding-bottom: 0.1px;
    /* ??? */
}

.inner-details>*:not(summary) {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.inner-details>summary {
    cursor: pointer;
    padding: 0.5em;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    overflow-y: scroll;
}

.timestamp {
    font-family: monospace;
    float: right;
}

.math {
    font-style: italic;
}