*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h2 {
    margin-top: 1em;
}

body {
    box-sizing: border-box;
    margin-bottom: 90vh;
}

body>#content {
    width: 64em;
    max-width: 100%;
}

code {
    white-space: pre-wrap;
}

.problem-container>details {
    margin: 0.5em;
}

.problem-container>details>summary {
    padding: 0.75em;
}

details {
    border-left: 0.125em solid #8888;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    background: #8881;
}

.details-inner {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

summary {
    cursor: pointer;
    background: #8881;
    display: flex;
    padding: 0.5em;
    gap: 1em;
}

summary>.title {
    flex-shrink: 1;
    font-weight: bold;
}

summary>.description {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

summary>a {
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    overflow-y: scroll;
}

.timestamp {
    font-family: monospace;
    float: right;
}

.pre-wrap {
    white-space: pre-wrap;
}

.math {
    font-style: italic;
}